# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy container app to Azure Web App - bricoll

on:
  push:
    branches:
      - Production
  workflow_dispatch:

jobs:
  build:
    runs-on: 'ubuntu-latest'

    steps:
    - uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Log in to registry
      uses: docker/login-action@v2
      with:
        registry: https://bricoll.azurecr.io/
        username: ${{ secrets.AzureAppService_ContainerUsername_f72637ef3f3a4ad7a16a213db67765b2 }}
        password: ${{ secrets.AzureAppService_ContainerPassword_7bc7a8299dfc443580e6888c924efe1a }}

    - name: Build and push container image to registry
      uses: docker/build-push-action@v3
      with:
        push: true
        tags: bricoll.azurecr.io/${{ secrets.AzureAppService_ContainerUsername_f72637ef3f3a4ad7a16a213db67765b2 }}/nginx:${{ github.sha }}
        file: ./Dockerfile

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

    steps:
    - name: Deploy to Azure Web App
      id: deploy-to-webapp
      uses: azure/webapps-deploy@v2
      with:
        app-name: 'bricoll'
        slot-name: 'production'
        publish-profile: ${{ secrets.AzureAppService_PublishProfile_e571afc7bae74602a0ee32419b38f60a }}
        images: 'bricoll.azurecr.io/${{ secrets.AzureAppService_ContainerUsername_f72637ef3f3a4ad7a16a213db67765b2 }}/nginx:${{ github.sha }}'